@{
    ViewData["Title"] = "about";
}


<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <h2>About Me</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <h2>Hi and welcome to my page!</h2>
                <p>My name is Simon Eliasson, im a 31 year old C#.NET student that currently are enrolled to Lexicons C#.NET Programer course. <br />  </p>
                <p>I recently finished my Bachelor's degree at Högskolan Borås at the Computereconomics program with Information technologi as my main studie. <br /></p>
                <p>However i feelt like i wanted more kwnoledge in the programing landscape so one's i got the chance to attend Lexicons C#.NET course i took it without hesitation. <br /></p>
                <p>Im still on my journey to become a full time developer, and currently looking for a tranie work space. <br /></p>
                <p>If you find this page intresting and might have some tranie work avalible feel free to contact me!, more information can be found in the contact me section (in the navigation bar)<br /> <hr /></p>
            </div>

            <div class="col-12">
                <h2>A deeper look in to who i am</h2>
                <p>....<br />  <hr /> </p>
            </div>

            <div class="col-12">
                <h2>Previus work experience</h2>
                <p>....<br />  </p>
                <p>add Link to CV here<br />  </p>
            </div>


        </div>
    </div>
</section>



