@{
    ViewData["Title"] = "contact";
}

<section class="head pb-5">
    <div class="container py-5">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-light text-center py-3">Contact Me</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2"></div>
                            <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                                <h3 class="">Want to get in contact with me?</h3>
                                <p>
                                    Region: Västra Götalandslän<br />
                                    Town: Kinna <br />
                                    Postal code: Östrastrandängsvägen 11, 51158 Kinna <br />
                                    Country: Sweden
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2"></div>
                            <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                                <h3>Call or mail instead?</h3>
                                <p>Name: Simon Eliasson<br />
                                   Cellphone: +46 738 450 197<br />
                                   When? When ever you want!
                                   E-mail: Eliassonstudera@gmail.com <br />                                   
                                   </p>
                            </div>
                        </div>
                                                <div class="row">
                            <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2"></div>
                            <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                                <h3>Other ways to contact me</h3>
                                <p>Facebook: <a href="https://www.facebook.com/simon.eliasson.374">Facebook</a><br />
                                   Twitter: <a href="https://twitter.com/Eliasson90">Twitter</a><br />
                                   </p>
                            </div>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
</section>
