
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <h2>Home: </h2>
                <hr />
                @if (!User.Identity.IsAuthenticated)
                {
                    <p>Hello! Please Login</p>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("User") && User.IsInRole("Admin"))
                    {
                        <p>Helo User & Admin!</p>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <p>Hello Admin!</p>
                    }

                    else if (User.IsInRole("User"))
                    {
                        <p>Hello User!</p>
                    }

                    else
                    {
                       <p>Hello logged in visitor!</p> 
                    }
                    
                }
            </div>
        </div>
    </div>
</section>


@*SecondTaskWork?*@

