@{
    ViewData["Title"] = "projects";
}


<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <h2>Projects: Here you will find al my previus projects</h2>
                 <p><strong>Github link:</strong> If you wanna head over and see my portolio you will find it <a href="https://github.com/SimonEliassonSE/">here</a></p>
                <hr />            
               
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> Uppgift-1-AF-Test</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong>This is the first piece of code i ever upploaded on my github. The project itself
                            contains 15 diffrent task given to us from Lexicon that was part of our pre evaluation.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/Uppgift-1-AF-Test">Uppgift-1-AF-Test</a></p>
                        <p><strong>Code-type used:</strong> C#: <strong>100%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> LexiconFirstHomepageProject</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> This was the first project given by Lexicon working with HTML and CSS, the project is
                            created after the asked layout and styling. The project contains a "main-page" and a loggin page with diffrent navigation features added.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/LexiconFirstHomepageProject">LexiconFirstHomepageProject</a></p>
                        <p><strong>Code-type used:</strong> HTML/CSS: <strong>70.7% / 29.3%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> LexiconVendingMachine</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> This project contains code for a "Vending machine". You can deposit/withdraw money<i>(bills and coins)</i> and purchase diffrent products and use them.
                            The code dose also contain some unit testing of the projects diffrent functions and methods.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/LexiconVendingMachine">LexiconVendingMachine</a></p>
                        <p><strong>Code-type used:</strong> C#:<strong> 100%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> LexiconCalculator</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> In this project we created are own calculator where al the regulare functions sutch as +, -, * and / was included. The calculator did also contain functions for calculating power of and square root of.
                            The calculator have 2 diffrent modes, basic mode where you can add two numbers and get them calculated and also an advanced mode where you can add until = is enterd <i>(designed for longer equations)</i>.The code dose also contain some unit testing of the projects diffrent functions and methods.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/LexiconCalculator/tree/main/Calculator">LexiconCalculator</a></p>
                        <p><strong>Code-type used:</strong> C#: <strong>100%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> LexiconHangmanGame</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> This project is a traditional "hangman-game" where i have hardcoded in a few diffrent words to choose from and you as the user shall geuss the word.
                            The program will save al the correct and not correct characters/words and will animate al the wrong answers.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/LexiconHangmanGame">LexiconHangmanGame</a></p>
                        <p><strong>Code-type used:</strong> C#<strong> 100%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> SnakeGame</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> I did this to learn more about gamedevelopment and javascript. The game is similare to the game we ones could find on older phones like for example Nokia 3310.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/SnakeGame">SnakeGame</a></p>
                        <p><strong>Code-type used:</strong> JavaScript/CSS/HTML <strong>71.8%/19.1%/9.1%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> LexiconMVC</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> This is my current project. The main goal here is to learn how to work with ASP.NET Core MVC and how everything is supposed to be structured.
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link: </strong><a href="https://github.com/SimonEliassonSE/LexiconMVC">LexiconMVC</a></p>
                        <p><strong>Code-type used:</strong> ?(not yet finished) <strong>?</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="list-unstyled"><p><strong>Project Name:</strong> LexiconSokobanGame1</p></li>
                    <li class="list-unstyled">
                        <p>
                            <strong>Project Description:</strong> To learn even more Javascript we did a sokoban game where your goal is to push al boxes in to there designated area. You can find more information on what sokoban is <a href="https://sokoban.info/">here</a>
                        </p>
                    </li>
                    <li class="list-unstyled">
                        <p><strong>Project Github-link:</strong><a href="https://github.com/SimonEliassonSE/LexiconSokobanGame1">LexiconSokobanGame1</a></p>
                        <p><strong>Code-type used:</strong> Javascript/CSS/HTML <strong>90%/5.7%/4.3%</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

