
@{
    ViewData["Title"] = "Guessing";
}

<section class="head pb-5">
    <div class="container py-5">
        <div class="card">
            <div class="card-body">               
                <div class="row container-fluid">
                    <div class="col-lg-6">
                        <form asp-action="Guessing" method="post">
                            <label>Please geuss a number between 1 and 100</label>
                            <input type="text" name="input" /> <input type="submit" value="Geuss number" />
                            <p></p>
                            @if (ViewBag.Message != null)
                            {                            
                                <p>@ViewBag.Message</p>
                                <p></p>
                                @*<a asp-controller="Doctor" asp-action="GetSession">Check your session!</a>*@
                            }
                        </form>

                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>